body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#form-container {
    width: 70%
}
.outerStyle {
    color: green;
    font-weight: 900;
}
.password-field {
    font-size: 18px;
}
.custom-form-field {
    width: 60%;
}

